@tailwind base;
@tailwind components;
@tailwind utilities;

.timetime::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #1DDDDFB2;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}

.container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movewdown 1s linear forwards;
    opacity: 0;
}

@keyframes movewdown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay: 0s;
}

.container:nth-child(2){
    animation-delay: 1s;
}

.container:nth-child(3){
    animation-delay: 1.5s;
}

.container:nth-child(4){
    animation-delay: 2s;
}

.container:nth-child(5){
    animation-delay: 2.5s;
}

.container:nth-child(6){
    animation-delay: 3s;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #1DDDDF;
    left: -15px;
}
.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #2B95ED;
    right: -15px;
}

@media screen and (max-width: 600px) {
    .timeline{
        margin: 50px auto;
    }
    .timetime::after{
        left: 30px;
    }
    .container{
        width: 100%;
        padding-left: 50px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box p {
        margin-bottom: 10px;
    }
    .right-container{
        left: 0px;
    }
    .left-container img, .right-container img{
        left: 0px;
    }
    .left-container-arrow, .right-container-arrow {
        border-right: 15px solid #0fcecb;
        border-left: 0;
        left: -15px;
    }
}